<html lang="en">

<%- include header %>

    
<div class="container mt-4">
	<div class="jumbotron">
	<h2 class="display-4">You are sucessfully login!</h2>
	<p class="lead">Welcome to simple Login Project Here you can register and login For Admission</p>
	<hr class="my-4">
	<p><h3>🙂WELCOME🙂</h3></p>
	<p>
		<a class="btn btn-lg btn-Warning" href="/home/profile" title="">Profile View >></a>
	</p>
</div>	

<%- include footer %>